# Node / Tailwind
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Properties files
*.properties

# IDEs
# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env Files
.env
.env.*
